SERVER_USERNAME=
SERVER_PASSWORD=
export SERVER_URL=


SERVER_AUTH=$(echo $SERVER_USERNAME):$(echo $SERVER_PASSWORD)
SERVER_AUTH_ENCODED=$(echo -n $SERVER_AUTH | base64)
export SERVER_AUTH_ENCODED="Basic ${SERVER_AUTH_ENCODED}"
